:root {
  --joe-yellow: rgb(255,255,0);
  --joe-black: rgb(60,60,60);
  --joe-gray: rgb(128,128,128);
  --joe-brown: #857A6F;
  --joe-blue: #273F57;
  --joe-maroon: #590F04;
  --joe-back: rgba(248,247,253,0.9);
  --joe-bg1: rgb(80, 180, 201);
  --joe-bg2: rgb(55, 128, 121);
  --joe-bg3: rgb(16, 94, 84);
  --joe-bg4: rgb(66,150,140);

  }

body {
  font-family: courier, 'courier new', monospace;
  color: var(--joe-black);
  }

img {
  max-width: 100%;
  margin: 1rem;
  }

a {
  color: var(--joe-maroon);
      color: var(--joe-bg2);

  padding: 0.2em;
  }

a:hover {
  background: var(--joe-yellow);
  color: var(--joe-black);
  }

.mapback {
  background: url(/assets/map3-faded.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

.journal {
  /* background: url(/assets/map2-faded.jpg);
  background-size: contain; */
/*  background-color: #006cdf1f;*/
  background: var(--joe-back);

  }

.wrapper {
  width: min(50rem, 100% - 4rem);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  grid-gap: 0.5rem;
  margin: 0 auto 0;
  }

header {
  display: grid;
/* grid-template-columns: 85% 15%; */
grid-template-columns: 100%;
grid-template-rows: auto 1fr;
border-top: 2px dashed var(--joe-black);
border-bottom: 2px dashed var(--joe-black);
align-items: center;
margin-bottom: 1.5rem;
background: var(--joe-back);
background: white;
  }

header h1 {
  font-size: 1.5rem;
line-height: 1;
margin: 0;
text-transform: uppercase;
/* color: var(--joe-bg1); */
grid-column: 1;
padding: 0.5rem 1rem;
font-weight: 500;
/* border-right: 2px dashed black; */
/* border-bottom: 2px dashed black; */
/* top: 2px dashed black; */
color: var(--joe-black);
  }

header h1 a {
color: var(--joe-bg1);
  text-decoration: none;
  color: var(--joe-black);

}

  .temps {
    grid-row: 1/3;
    grid-column: 2;
    padding: 0 1rem;
    align-self: center;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;  }

nav {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: stretch;
 }

nav p {
  text-transform: uppercase;
border: 1px dashed var(--joe-black);
border-bottom: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: stretch;
flex: 0 1 20%;
margin: 0;
padding: 0.5rem 0;
  }

/* nav p:first-child { margin-left: 0; } */

nav a {
  font-size: 1rem;
  color: var(--joe-black);
  text-decoration: none;
  font-weight: 700;
  }

nav a.active {
  color: var(--joe-blue);
  }

nav a:hover {
  background: var(--joe-yellow);
  color: var(--joe-black);
  }

main {
  padding: 2rem 3vw;
  border-top: 2px dashed var(--joe-black);
  border-bottom: 2px dashed var(--joe-black);
/*  background: var(--joe-back);*/
  background: white;
  }

main h2 {
  font-size: 1.5rem;
/*  color: var(--joe-bg2);*/
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
  }

main h3 {
  font-size: 1.2rem;
/*  color: var(--joe-bg2);*/
  text-transform: uppercase;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 0.1rem;
  font-weight: 500;
  }

main h4 {
  font-size: 1rem;
/*  color: var(--joe-bg2);*/
  line-height: 1.3;
  margin: 0;
  font-weight: 500;
  }

main p {
  max-width: 80ch;
  line-height: 1.4;
  font-weight: 400;
  }

main li {
  max-width: 80ch;
  line-height: 1.3;
  font-weight: 400;
  }

.entrylist {
  border-top: 1px dashed var(--joe-black);
  padding-top: 1rem;
  margin-top: 1.5rem;
  }

.entries li {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  }

.entries a {
  text-decoration: underline 1px;
  text-underline-offset: 0.2em;
/*  color: var(--joe-maroon);*/
    color: var(--joe-bg2);

  }

.jnav {
  margin-top: 6rem;
}



  .gallery img {
    margin: 2rem 0 0 0;
  }

  p.caption {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: var(--joe-blue);
  }

  .gallery video {
      max-width: 100%;
    }

footer {
/*  background: var(--joe-back);*/
  background: white;
  padding: 0.25rem 3vw;
  border-top: 2px dashed var(--joe-black);
  border-bottom: 2px dashed var(--joe-black);
  /* border: 1px solid var(--joe-black); */
  margin-top: 1.5rem;
  /* text-align: center; */
  font-size: 0.875rem;
  }


.journal header {
  width: 50vw;
}

.journal footer {
  width: max-content;
}

.journal .wrapper {
  width: min(80rem, 100% - 4rem);
}

.journal main {
  display: grid;
  gap: 4vw;
  grid-template-columns: 1fr 1fr;
  }

.newspaper {
    margin: 1rem auto;
    text-align:center;
}

.newspaper a:hover {
    background: transparent;
}

.photogallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
}

.photogallery li {
  flex: 0 1 33%;
  }

.photogallery a:hover {
  background: none;
  }
