<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{ title }} + {{ metadata.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="{{ bodyclass }}">
    <div class="wrapper">
        <header>
            <h1>{{ metadata.title }}</h1>
            <nav>
                <p><a href="/">main</a></p>
                <p><a href="/about">about</a></p>
                <p><a href="/journal">journal</a></p>
                <p><a href="/press">press</a></p>
            </nav>
        </header>

        <main>
            {{ content | safe }}
        </main>

        <footer>
            <p>Follow Marc on <a href="https://www.instagram.com/marc_english/">Instagram</a> and <a
                    href="https://www.facebook.com/marc.english">Facebook</a>
            <p>
            <p>&copy;2023. All photos by Marc English except where specified.</p>
        </footer>
    </div>
</body>

</html>

<!-- {
        "id": 4030939,
        "name": "London Village",
        "state": "",
        "country": "KI",
        "coord": {
            "lon": -157.475021,
            "lat": 1.98487
        }
    }, -->
