---
layout: layouts/base.njk
---

{% if title %}<h2>{{ title }}</h2>{% endif %}

{{ content | safe }}


<h3 class="entrylist">Journal Entries</h3>
<ul class="entries">
  {%- for entry in collections.journal -%}
    <li><a href='{{ entry.url }}'>{{ entry.data.title }}</a></li>
  {%- endfor -%}
  <!-- <li><a href="/journal">View all entries</a></li> -->
</ul>
