---
layout: layouts/base.njk
---
<div class="writing">
  <h2>{{ longdate }} // {{ title }}</h2>

  {{ content | safe }}

  {% set previousPost = collections.journal | getPreviousCollectionItem %}
  {% set nextPost = collections.journal | getNextCollectionItem %}

  <p style="text-align: center">
  {% if previousPost %}
    <a href="{{ previousPost.url }}">&larr; {{ previousPost.data.title }}</a>
  {% endif %}
  {% if nextPost %} |
    <a href="{{ nextPost.url }}">{{ nextPost.data.title }} &rarr;</a>
  {% endif %}
  </p>

  <p style="text-align: center"><a href="/journal#entries">All Journal Entries</a></p>
</div>

<div class="gallery">
    {% if video %}
    <video controls>
        <source src="{{ video }}" type="video/mp4" />
    </video>
    <p class="caption">{{ vcaption }}</p>
    {% endif %} {% for item in photos %}
    <img
        src="{{ metadata.imglocation }}/{{ cloudinary }}/kingjoe/{{ gallery }}/{{ item.img }}"
        alt="{{ item.caption }}"
        srcset="{{ metadata.imglocation }}/w_320/{{ cloudinary }}/kingjoe/{{ gallery }}/{{ item.img }} 320w,
            {{ metadata.imglocation }}/w_640/{{ cloudinary }}/kingjoe/{{ gallery }}/{{ item.img }} 640w"
        sizes="(max-width: 320px) 100vw, 640px"
    />
    <p class="caption">{{ item.caption }}</p>
    {% endfor %}
</div>
